body {
    margin: 0 0 55px 0;
    background-color: rgb(15, 29, 41);
  }

  .nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.2);
    background-color: #0c101b;
    display: flex;
    overflow-x: auto;
  }

  .nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
  }

  .nav__link:hover {
    background-color: #0c0f1f;
    color: darkorange;
  }

  .nav__link--active {
    color: #ff004c;
  }

  .nav__icon {
    font-size: 18px;
  }

  .playing {
    height: 70px;
    /* width: 100%; */
    /* margin: 5px; */
    /* margin: 10px 10px 10px 10px; */
    background-color: #06121F;
    /* background-color:#0f0e3b; */
  }

  .now {
    display: flex;
  }

  #pimg {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    /* clip-path: circle(); */
    border-radius: 4px;
  }

  .items {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* overflow-x: auto; */
    margin-top: 10px;
    justify-content: space-evenly;

  }

  .items::-webkit-scrollbar {
    display: none;
  }

  .items .item {
    min-width: 80px;
    height: 100px;
    background: crimson;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-size: cover;
    border: solid rgb(0, 0, 0);
    border-radius: 5px;
    opacity: .9;

  }

  .block {
    position: relative;

    width: 80px;
    height: 100px;

  }